*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Roboto", system-ui;
  font-weight: 900;
  font-style: normal;

}
.roboto-black {
  font-family: "Roboto", system-ui;
  font-weight: 900;
  font-style: normal;
}
